*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    height: 100vh;
    background: linear-gradient(#0093e9, #80d0c7);
}

.cards{
    position: relative;
    height: 30rem;
    width: 30rem;
    background-color: white;
}

.img-container img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cards::before,
.cards::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    transition:1s;
    z-index: -1;
}

.cards:hover::before{
    transform: rotate(10deg);
}

.cards:hover:after{
    transform: rotate(20deg);
}

.img-container{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    z-index: 2;
    transition: 1s;
}

.img-container:hover{
    bottom: 80px;
}

.content{
    position: absolute;
    bottom:30px;
    left: 200px;
    
    
}

