*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    height:32rem;
    width:32rem;
    overflow: hidden;
    position: relative;
    
}

.container img{
    width: 100%;
    transition: all 1s;
}

.container .content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    transition: all 1s;
    transform: translateY(100%);
}

.container:hover .content{
    transform: translateY(0);
}

.container:hover img{
    transform: translateY(-25%);
}