*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    position: relative;
}

.tooltip{
    width:170px;
    background-color: black;
    color: white;
    padding: 10px 15px;
    border-radius: 7px;
    position: absolute;
    bottom:120%;
    left: -20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;

}

.container:hover .tooltip{
    visibility: visible;
    opacity: 1;
}

.tooltip::before{
    content: "";
    position: absolute;
    top:100%;
    left: 40%;
    border: 15px solid;
  border-color: #000 #0000 #0000 #0000;

}