*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding:0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content{
    text-align: center;
}   

.content h1{
    font-size:160px;
    color: white;
    margin-bottom: 2rem;
    transition: 0.5s;
}

.content h1:hover{
    -webkit-text-stroke: 2px white;
    color: transparent;
    
}

.content a{
    text-decoration: none;
    color: white;
    padding: 12px 50px;
    border: 2px solid white;
    transition: 0.5s;
}

.content a:hover{
    background: white;
    color: black;
}

@media (min-aspect-ratio: 16/9) {
    .bg-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .bg-video{
        width: auto;
        height: 100%;
    }

}
