*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background: rgb(90, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background-color: beige;
    width: 800px;
    height: 500px;
    position: relative;
}

.img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.img1{
    background: url(https://images.unsplash.com/photo-1604537466158-719b1972feb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80);
    background-position: center;
    background-size: cover;
    clip-path: polygon(0 0, 46% 0, 39% 100%, 0 100%);

}

.img2{
    background: url(https://images.unsplash.com/photo-1502228213426-d4e9f2add0e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-position: center;
    background-size: cover;
    clip-path: polygon(19% 0, 87% 0, 64% 100%, 33% 100%);

}

.img3{
    background: url(https://images.unsplash.com/photo-1519757043093-285fcb07a4e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    background-position: center;
    background-size: cover;
    clip-path: polygon(82% 0, 100% 0, 100% 100%, 63% 100%);

}
.container:hover .img{
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

.container .img:hover{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}


