*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: crimson;
}

button{
    border: none;
    padding: 1rem 4rem;
    background-color: rgba(17, 17, 137, 0.824);
    color: white;
    font-size: 22px;
    position: relative;
    
}

button::before{
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 4px solid rgba(17, 17, 137, 0.824);
    border-left: 4px solid rgba(17, 17, 137, 0.824);
    transition: 0.5s;
}

button::after{
    content: "";
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: -10px;
    right: -10px;
    border-bottom: 4px solid rgba(17, 17, 137, 0.824);
    border-right: 4px solid rgba(17, 17, 137, 0.824);
    transition: 0.5s;
}

button:hover::before{
    height: 100%;
    width: 100%;
}

button:hover::after{
    height: 100%;
    width: 100%;
}


