*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.container{
    position: relative;
    height:35rem;
    width: 30rem;
    transition: all 0.5s;
}

.img-container{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s;
}

.content{
    position: absolute;
    bottom: 0;
    height: 10px;
    width: 80%;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 10, 10);
    overflow: hidden;
    transition: all 0.7s;
}

.content h1{
    margin-bottom: 20px;
    
}

.content p{
    width: 350px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transition: 0.5s;
}

.content a{
    text-decoration: none;
    margin-top: 20px;
    background-color: black;
    color: white;
    padding: 13px 20px;
    opacity: 0;
    transition: 0.5s;
}

.container:hover .content{
    height: 100%;
    left: 0;
    width: 100%;
}

.container:hover p,
.container:hover a{
    opacity: 1;
    transition-delay: 0.5s;
}

.container:hover img{
    opacity: 0;
}

