*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #00008bcb;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.loading{
    background-color: white;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    border-radius: 100%;
    animation: load 0.8s infinite ease;
}

.loader .one {
    animation-delay: 0.3s;
}
.loader .two {
    animation-delay: 0.4s;
}
.loader .three {
    animation-delay: 0.6s;
}


@keyframes load{
    0%{
        width:30px;
        height:30px;
    }
    50%{
        width:20px;
        height:20px;
    }
}