*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
}

ul{
    display: flex;
}

ul li{
    list-style: none;
}

ul li a{
    padding: 0.4rem 1rem;
    margin: 0 10px;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    position: relative;
}

ul li a::before{
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    height: 12px;
    width: 12px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    /* background-color: aqua; */
    transition: 0.5s;
    opacity: 0;
}

ul li a::after{
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    height: 12px;
    width: 12px;
    border-top: 3px solid white;
    border-right: 3px solid white;
    /* background-color: aqua; */
    transition: 0.5s;
    opacity: 0;
}

ul li a:hover::after{
    opacity: 1;
    top: -5px;
    right: -5px;
}

ul li a:hover::before{
    opacity: 1;
    bottom: -5px;
    left: -5px;
}