*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.container{
    height:32rem;
    width:32rem;
    overflow: hidden;
    position: relative;
}

.container img{
    width: 100%;
    transition: all 1s ease;
}

.container .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    transform: translateX(-100%);
    transition: all 1s;
}

.container:hover .content{
    transform: translateX(0);
}

.container:hover img{
    transform: translateX(100%);
}