*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    color: white;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    height: 100vh;
    font-family: sans-serif;
}

.scroll-container{
    background-color: black;
    width: 28rem;
    padding: 30px;
}

.scroll{
    width: 400px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-object{
    padding: 20px;
}

::-webkit-scrollbar{
    background: transparent;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
    border-radius: 100px;
}

