*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: black;
}

a{
    text-decoration: none;
    color: antiquewhite;
    padding: 20px 50px;
    border: 2px solid antiquewhite;
    font-size: 18px;
    position: relative;
    font-family: sans-serif;
    overflow: hidden;   
    transition: all 1s;
}

a::before{
    content: "DOWNLOAD";
    
    font-weight: bold;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: black;
    transform: translateY(-100%);
    transition: all 1s;
}

a:hover::before{
    transform: translateY(0);
}