*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  height: 100vh;
  background-color: black;
}

.container{
  position: relative;
  width: 320px;
  background-color: white;
  padding: 40px;
  overflow: hidden;
}

.container::before{
  position: absolute;
  content: "";
  left: 0;
  bottom: calc(-100% + 5px);
  background: blueviolet;
  width: 100%;
  height: 100%;
  
  transition: all 1s;
}

.container:hover::before{
  bottom: 0;
}

.content{
  position: relative;
  transition: all 1s;
}

.content h2{
  font-size: 30px;
  margin-bottom: 10px;
  
}

.content p{
  line-height: 20px;
  padding: 20px 0;
}

.content a{
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.container:hover .content{
  color: white;
}